name: CI

on:
  pull_request:
  push:
    branches: main

env:
  RUST_BACKTRACE: 1
  CARGO_PROFILE_DEV_DEBUG: 0

jobs:
  test:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest ]
        rust: [ 1.85.0, stable, nightly ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}

      - uses: actions/cache/restore@v5
        name: Cache crates.io
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
          key: cratesio-${{ runner.os }}-${{ hashFiles('Cargo.toml') }}

      - name: Fix time MSRV
        run: |
          cargo update -p time --precise 0.3.41
          cargo update -p time-core --precise 0.1.4

      - uses: actions/cache@v5
        name: Cache build dir
        with:
          path: target
          key: tests-${{ runner.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.lock') }}

      - name: Check default features
        run: cargo check --all

      - name: Run cargo test
        run: cargo test --all-features --all

  lints:
    name: Lints and Breaking Changes
    runs-on: macos-latest
    continue-on-error: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt

      - uses: actions/cache@v5
        name: Cache crates.io
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
          key: cratesio-${{ runner.os }}-${{ hashFiles('Cargo.toml') }}

      - name: DO NOT USE RUSTFMT
        run: "if cargo fmt --quiet --check -- --config-path=/dev/null; then echo >&2 'Do not reformat the code with rustfmt. This project does not use rustfmt.'; fi"

      - run: cargo generate-lockfile

      - uses: actions/cache@v5
        name: Cache build dir
        with:
          path: target
          key: lints-${{ runner.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.lock') }}

      - name: SemVer check
        uses: obi1kenobi/cargo-semver-checks-action@v2

      - name: Run cargo clippy
        run: cargo clippy --all-features

  ios:
    name: iOS and Intel compile-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          target: aarch64-apple-ios,x86_64-apple-darwin

      - uses: actions/cache/restore@v5
        name: Cache crates.io
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
          key: cratesio-${{ runner.os }}-${{ hashFiles('Cargo.toml') }}

      - run: cargo generate-lockfile

      - uses: actions/cache@v5
        name: Cache build dir
        with:
          path: target
          key: lints-${{ runner.os }}-${{ matrix.rust }}-${{ hashFiles('Cargo.lock') }}

      - name: Run check iOS
        run: cargo check --all-features -p security-framework --target aarch64-apple-ios

      - name: Run check Intel
        run: cargo check --all-features -p security-framework --target x86_64-apple-darwin
